/*VARIABLES*/

/* GLOBAL STYLES */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e4dede;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* FORM */

.container {
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 5rem auto;
  background-color: white;
  border-radius: 15px;
  padding: 2rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #6868ec;
  font-size: 1.5rem;
}

.alert {
  width: fit-content;
  font-size: 0.7rem;
  padding: 2px 7px;
  margin: 0rem auto;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.danger {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}

.form-control {
  width: 90%;
  margin: 0rem auto;
}

.form-control label {
  /* margin: 0rem 1rem 0rem 1rem; */
  padding: 4px 10px;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #6868ec;
  text-transform: capitalize;
  box-shadow: rgba(31, 31, 150, 0.658) 0px 5px 6px;
}

.form-control input {
  width: 30%;
  font-size: 1rem;
  padding: 7px 10px;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  background-color: #e4dede;
  box-shadow: rgba(0, 0, 0, 0.123) 0px 5px 6px;
}

.form-control input:focus {
  outline: none;
}

.form-btn {
  margin: 2rem auto 0rem auto;
  font-size: 1rem;
  padding: 6px 10px;
  text-transform: capitalize;
  background-color: #048a04;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: rgba(7, 102, 7, 0.411) 0px 5px 6px;
}

.form-btn:hover {
  background-color: #037403;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1rem;
  }
  .container {
    width: 80%;
  }
  .form-control label {
    font-size: 0.9rem;
    display: block;
    width: 30%;
    margin: 1rem auto;
  }

  .form-control input {
    font-size: 0.9rem;
    display: block;
    width: 90%;
    margin: 0rem auto;
  }

  .form-btn {
    width: 30%;
  }
}

/* LIST */

.book-list {
  width: 75%;
  margin: 3rem auto 0rem auto;
}

.book {
  display: flex;
  justify-content: space-between;

  padding: 0.7rem 1rem;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.096) 1px 2px 4px 4px;
  font-size: 0.9rem;

  border-radius: 5px;
}

.item {
  display: flex;
  font-size: 0.9rem;
}

.list-btn {
  display: flex;
}

.item .p1 {
  border: 1px solid #6868ec;
  color: #6868ec;
  margin-right: 8px;
  border-radius: 3px;
  padding: 1px 3px;
  text-transform: capitalize;
}

.item .p2 {
  border: 1px solid #6868ec;
  color: #6868ec;

  border-radius: 3px;
  padding: 1px 3px;
  text-transform: capitalize;
}

.edit {
  color: #048a04;
  margin-right: 0.3rem;
  cursor: pointer;
}

.delete {
  color: red;
  cursor: pointer;
}

.clear-books {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid;
  text-transform: capitalize;
  background-color: rgb(190, 30, 30);
  color: white;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .book-list {
    justify-content: center;
    text-align: center;
  }
  .book {
    flex-direction: column;
  }

  .item {
    text-align: center;
    align-content: center;
    margin: 0rem auto;
  }

  .list-btn {
    text-align: center;
    align-content: center;
    margin: 0.5rem auto;
  }
}
